/* 修改图片圆角 */
img[src*="#img-radius"] {
    border-radius: 9px;
}
/* 侧边栏圆角 */
#aside-content .card-widget {
border-radius: 25px;
}
/* 文章页圆角 */
.layout>div:first-child:not(.recent-posts) {
border-radius: 25px;
}
/* 双栏卡片圆角 */
#recent-posts>.recent-post-item {
border-radius: 25px;
}
/* github按钮圆角 */
#card-info-btn{
  border-radius: 25px;
  overflow: hidden}
#card-info-btn:before{
  border-radius: 25px
}
/* 右侧小按钮圆角 */
#rightside>div>button,#to_comment {
  margin-right: 4px;
  border-radius: 5px;
}
/* 翻页圆角 */
#pagination a.extend,
#pagination .page-number,
#pagination span {
	color: var(--font-color);
	background-color: var(--card-bg);
	border-radius: 8px;
	height: 1.6rem;
	text-align: center;
	line-height: 1.6rem;
	display: inline-block;
	min-width: 1.6rem;
}
/* 目录圆角 */
#aside-content #card-toc .toc-content .toc-link.active {
    border-radius: 8px;
}